body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin-top: 50px;
}

input {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

button {
    padding: 15px 30px; /* Увеличиваем вертикальный и горизонтальный отступы */
    font-size: 16px;
    margin-top: 20px; /* Добавляем небольшой отступ сверху */
}
